extends ./layout.pug

block content
		main
			.page
				.hero.wrapper
					img.hero__img(sizes='100vw', srcset='/static/img/Coronation_Sm.jpg 480w, /static/img/Coronation_Md.jpg 800w, /static/img/Coronation_Lg.jpg 1200w', src='/static/img/Coronation_Sm.jpg', alt='Coronation of Napoleon')
				.home.wrapper
					p.home__intro
						| This site serves a simple repository for information regarding the Napoleonic Era. All information has been sourced from wikipedia but is presented here hopefully somewhat more interestingly so as to display the colours, campaigns and characters of the Napoleonic Era.
					.dynamic-row
						.dynamic-row__item
							.dynamic-row__img
								if diedToday
									include ./partials/_tombstone.pug
								else if bornToday	
									include ./partials/_stork.pug	
								else
									include ./partials/_napoleon.pug
							.dynamic-row__content
								if diedToday
									h4.dynamic-row__heading Died on this day #{h.moment(diedToday.died).format('MMM Do YYYY')}									
									a.dynamic-row__link(href='/characters/' + diedToday.name)
										h5.dynamic-row__sub-heading #{diedToday.name}
								else if bornToday
									h4.dynamic-row__heading Born on this day #{h.moment(bornToday.DOB).format('MMM Do YYYY')}			
									a.dynamic-row__link(href='/characters/' + bornToday.name)
										h5.dynamic-row__sub-heading #{bornToday.name}
								else
									h4.dynamic-row__heading Quote of the day										 	
									a.dynamic-row__link(href='/characters/' + randomGeneral.name)
										h5.dynamic-row__sub-heading #{randomGeneral.name}
									p.dynamic-row__text '#{randomGeneral.dailyQuote}'									
						.dynamic-row__item
							.dynamic-row__img
								include ./partials/_battlefield.pug
							.dynamic-row__content
								if battleToday
									h4.dynamic-row__heading Started on this day #{h.moment(battleToday.date.start).format('MMM Do YYYY')}								
									a.dynamic-row__link(href='/campaigns/' +  battleToday.campaign + '/' + battleToday.title)
										h5.dynamic-row__sub-heading The #{battleToday.title}
								else 
									h4.dynamic-row__heading Todays random battle												
									a.dynamic-row__link(href='/campaigns/' + randomBattle.campaign + '/' + randomBattle.title)
										h5.dynamic-row__sub-heading The #{randomBattle.title}
									p.dynamic-row__text #{h.moment(randomBattle.date.start).format('MMM Do YYYY')}

							